In [46]:
from decouple import config
import tweepy
from datetime import datetime, timedelta
import pandas as pd
from sqlalchemy import create_engine

In [43]:
dbuname = config('DBUNAME')
dbpwd = config('DBPWD')
host = config('HOST')
port = '5432'
dbname = 'dbyf1'

In [32]:
bearer_token = config("BEARER_TOKEN")

In [33]:
client = tweepy.Client(bearer_token=bearer_token)

In [47]:
def fetch_load_tweetcount(label, ht1, ht2, start, end, method):
    
    query = '(#bitcoin OR #btc) -is:retweet'
    query = '('+ ht1 + ' OR ' + ht2 + ') -is:retweet'
    print(query)
    start = start
    end = end
    table_name = 'table_'+label
    print(table_name)
        
    while True:    
        #fetch data
        try:
            counts = client.get_recent_tweets_count(query=query,start_time = start, end_time = end , granularity='day')
            tweets_df = pd.DataFrame()

            for count in counts.data:
                tweets_df = tweets_df.append(pd.DataFrame([{'date': count['end'], 
                                                'tweet_count': count['tweet_count']}]))

            tweets_df['date'] = pd.to_datetime(tweets_df['date'])
            tweets_df['label'] = label
            tweets_df = tweets_df.reset_index(drop=True)
            #print(tweets_df)            
        except:
            print("tweet count failed: " + label)
            break
        
                
        #load data
        if_ex_val = method
        
        try:
            conn_string = 'postgresql://'+dbuname+':'+dbpwd+'@'+host+':'+port+'/'+dbname
            engine = create_engine(conn_string)
            tweets_df.to_sql(table_name, conn_string, if_exists = if_ex_val, index=False) 
        except:
            print(e)
            print("Data load failed: " + table_name)   
            break
        break

In [62]:
hashtags = {'bitcoin': ['#bitcoin','#btc'],'ethereum': ['#eth', '#ethereum'], 'binance': ['#binance','#bnb'],'ripple': ['#ripple','#xrp'],
           'terra':['#terra','#luna'], 'cardano': ['#cardano','#ada'], 'solana': ['#sol','#solana'], 'avalanche': ['#avalanche','#avax'],
           'polkadot':['#polkadot','#dot'],'dogecoin':['#dogecoin', '#doge'], 'msci_world': ['#msciworld', '#msci'],'euro_stoxx': ['#EXW1.DE','#eurostoxx'],
            'smi':['#CSSMI.SW', '#smi'], 'nasdaq': ['#nasdaq', '#EXXT.DE'], 'gold':['#gold','#GC=F'], 'silver':['#silver','#SI=F']}

In [56]:
# Daily load of new data

# get datetime of yesterday and ereyesterday at 00:00:00
yesterday = datetime.strftime(datetime.today() - timedelta(1), "%Y, %m, %d")
ereyesterday = datetime.strftime(datetime.today() - timedelta(2), "%Y, %m, %d")

# set timeframe
end = datetime.strptime(yesterday, "%Y, %m, %d")
start = datetime.strptime(ereyesterday, "%Y, %m, %d")

# set method of function df.to_sql()
method = 'append'

for label in hashtags:
    ht1 = hashtags[label][0]
    ht2 = hashtags[label][1]
    fetch_load_tweetcount(label, ht1, ht2, start, end, method)

(#bitcoin OR #btc) -is:retweet
table_bitcoin
                       date  tweet_count    label
0 2022-04-02 00:00:00+00:00       163049  bitcoin
(#eth OR #ethereum) -is:retweet
table_ethereum
                       date  tweet_count     label
0 2022-04-02 00:00:00+00:00       113450  ethereum
(#binance OR #bnb) -is:retweet
table_binance
                       date  tweet_count    label
0 2022-04-02 00:00:00+00:00       109150  binance
(#ripple OR #xrp) -is:retweet
table_ripple
                       date  tweet_count   label
0 2022-04-02 00:00:00+00:00        46826  ripple
(#terra OR #luna) -is:retweet
table_terra
                       date  tweet_count  label
0 2022-04-02 00:00:00+00:00         3734  terra
(#cardano OR #ada) -is:retweet
table_cardano
                       date  tweet_count    label
0 2022-04-02 00:00:00+00:00        12779  cardano
(#sol OR #solana) -is:retweet
table_solana
                       date  tweet_count   label
0 2022-04-02 00:00:00+00:00        33985  solana
(#avalanche OR #avax) -is:retweet
table_avalanche
                       date  tweet_count      label
0 2022-04-02 00:00:00+00:00        11117  avalanche
(#polkadot OR #dot) -is:retweet
table_polkadot
                       date  tweet_count     label
0 2022-04-02 00:00:00+00:00         4698  polkadot
(#dogecoin OR #doge) -is:retweet
table_dogecoin
                       date  tweet_count     label
0 2022-04-02 00:00:00+00:00        23199  dogecoin
(#msciworld OR #URTH) -is:retweet
table_msci_world
                       date  tweet_count       label
0 2022-04-02 00:00:00+00:00            0  msci_world
(#EXW1.DE OR #euro_stoxx) -is:retweet
table_eurostoxx
                       date  tweet_count      label
0 2022-04-02 00:00:00+00:00            0  eurostoxx
(#CSSMI.SW OR #smi) -is:retweet
table_smi
                       date  tweet_count label
0 2022-04-02 00:00:00+00:00           79   smi
(#nasdaq OR #EXXT.DE) -is:retweet
table_nasdaq
                       date  tweet_count   label
0 2022-04-02 00:00:00+00:00         1677  nasdaq
(#gold OR #GC=F) -is:retweet
table_gold
                       date  tweet_count label
0 2022-04-02 00:00:00+00:00         3995  gold
(#silver OR #SI=F) -is:retweet
table_silver
                       date  tweet_count   label
0 2022-04-02 00:00:00+00:00         1503  silver

In [64]:
# Initial load of the historical data
yesterday = datetime.strftime(datetime.today() - timedelta(1), "%Y, %m, %d")
firstday = datetime.strftime(datetime.today() - timedelta(6), "%Y, %m, %d")

# set timeframe
end = datetime.strptime(yesterday, "%Y, %m, %d")
start = datetime.strptime(firstday, "%Y, %m, %d")


# set method of function df.to_sql()
method = 'replace'

for label in hashtags:
    ht1 = hashtags[label][0]
    ht2 = hashtags[label][1]
    fetch_load_tweetcount(label, ht1, ht2, start, end, method)

(#bitcoin OR #btc) -is:retweet
table_bitcoin
                       date  tweet_count    label
0 2022-03-29 00:00:00+00:00       152685  bitcoin
1 2022-03-30 00:00:00+00:00       188044  bitcoin
2 2022-03-31 00:00:00+00:00       160642  bitcoin
3 2022-04-01 00:00:00+00:00       152240  bitcoin
4 2022-04-02 00:00:00+00:00       163048  bitcoin
(#eth OR #ethereum) -is:retweet
table_ethereum
                       date  tweet_count     label
0 2022-03-29 00:00:00+00:00        96607  ethereum
1 2022-03-30 00:00:00+00:00       141935  ethereum
2 2022-03-31 00:00:00+00:00       107885  ethereum
3 2022-04-01 00:00:00+00:00       106931  ethereum
4 2022-04-02 00:00:00+00:00       113449  ethereum
(#binance OR #bnb) -is:retweet
table_binance
                       date  tweet_count    label
0 2022-03-29 00:00:00+00:00        83612  binance
1 2022-03-30 00:00:00+00:00       131775  binance
2 2022-03-31 00:00:00+00:00       125602  binance
3 2022-04-01 00:00:00+00:00       104271  binance
4 2022-04-02 00:00:00+00:00       109150  binance
(#ripple OR #xrp) -is:retweet
table_ripple
                       date  tweet_count   label
0 2022-03-29 00:00:00+00:00        45620  ripple
1 2022-03-30 00:00:00+00:00       197213  ripple
2 2022-03-31 00:00:00+00:00       146978  ripple
3 2022-04-01 00:00:00+00:00        43573  ripple
4 2022-04-02 00:00:00+00:00        46823  ripple
(#terra OR #luna) -is:retweet
table_terra
                       date  tweet_count  label
0 2022-03-29 00:00:00+00:00         6188  terra
1 2022-03-30 00:00:00+00:00        11340  terra
2 2022-03-31 00:00:00+00:00         6700  terra
3 2022-04-01 00:00:00+00:00         3963  terra
4 2022-04-02 00:00:00+00:00         3734  terra
(#cardano OR #ada) -is:retweet
table_cardano
                       date  tweet_count    label
0 2022-03-29 00:00:00+00:00        14991  cardano
1 2022-03-30 00:00:00+00:00        14226  cardano
2 2022-03-31 00:00:00+00:00        13123  cardano
3 2022-04-01 00:00:00+00:00        15944  cardano
4 2022-04-02 00:00:00+00:00        12779  cardano
(#sol OR #solana) -is:retweet
table_solana
                       date  tweet_count   label
0 2022-03-29 00:00:00+00:00        25230  solana
1 2022-03-30 00:00:00+00:00        33766  solana
2 2022-03-31 00:00:00+00:00        31680  solana
3 2022-04-01 00:00:00+00:00        31792  solana
4 2022-04-02 00:00:00+00:00        33985  solana
(#avalanche OR #avax) -is:retweet
table_avalanche
                       date  tweet_count      label
0 2022-03-29 00:00:00+00:00        10392  avalanche
1 2022-03-30 00:00:00+00:00        11502  avalanche
2 2022-03-31 00:00:00+00:00        14563  avalanche
3 2022-04-01 00:00:00+00:00        14753  avalanche
4 2022-04-02 00:00:00+00:00        11117  avalanche
(#polkadot OR #dot) -is:retweet
table_polkadot
                       date  tweet_count     label
0 2022-03-29 00:00:00+00:00         8759  polkadot
1 2022-03-30 00:00:00+00:00         6038  polkadot
2 2022-03-31 00:00:00+00:00         5878  polkadot
3 2022-04-01 00:00:00+00:00         5561  polkadot
4 2022-04-02 00:00:00+00:00         4698  polkadot
(#dogecoin OR #doge) -is:retweet
table_dogecoin
                       date  tweet_count     label
0 2022-03-29 00:00:00+00:00        26850  dogecoin
1 2022-03-30 00:00:00+00:00        25149  dogecoin
2 2022-03-31 00:00:00+00:00        22363  dogecoin
3 2022-04-01 00:00:00+00:00        22558  dogecoin
4 2022-04-02 00:00:00+00:00        23198  dogecoin
(#msciworld OR #msci) -is:retweet
table_msci_world
                       date  tweet_count       label
0 2022-03-29 00:00:00+00:00           16  msci_world
1 2022-03-30 00:00:00+00:00           10  msci_world
2 2022-03-31 00:00:00+00:00           10  msci_world
3 2022-04-01 00:00:00+00:00            5  msci_world
4 2022-04-02 00:00:00+00:00            5  msci_world
(#EXW1.DE OR #eurostoxx) -is:retweet
table_euro_stoxx
                       date  tweet_count       label
0 2022-03-29 00:00:00+00:00           17  euro_stoxx
1 2022-03-30 00:00:00+00:00           14  euro_stoxx
2 2022-03-31 00:00:00+00:00          131  euro_stoxx
3 2022-04-01 00:00:00+00:00            6  euro_stoxx
4 2022-04-02 00:00:00+00:00            4  euro_stoxx
(#CSSMI.SW OR #smi) -is:retweet
table_smi
                       date  tweet_count label
0 2022-03-29 00:00:00+00:00           79   smi
1 2022-03-30 00:00:00+00:00          100   smi
2 2022-03-31 00:00:00+00:00           99   smi
3 2022-04-01 00:00:00+00:00           82   smi
4 2022-04-02 00:00:00+00:00           79   smi
(#nasdaq OR #EXXT.DE) -is:retweet
table_nasdaq
                       date  tweet_count   label
0 2022-03-29 00:00:00+00:00         1849  nasdaq
1 2022-03-30 00:00:00+00:00         1774  nasdaq
2 2022-03-31 00:00:00+00:00         1863  nasdaq
3 2022-04-01 00:00:00+00:00         1946  nasdaq
4 2022-04-02 00:00:00+00:00         1677  nasdaq
(#gold OR #GC=F) -is:retweet
table_gold
                       date  tweet_count label
0 2022-03-29 00:00:00+00:00         4035  gold
1 2022-03-30 00:00:00+00:00         4448  gold
2 2022-03-31 00:00:00+00:00         4442  gold
3 2022-04-01 00:00:00+00:00         4076  gold
4 2022-04-02 00:00:00+00:00         3995  gold
(#silver OR #SI=F) -is:retweet
table_silver
                       date  tweet_count   label
0 2022-03-29 00:00:00+00:00         1706  silver
1 2022-03-30 00:00:00+00:00         1862  silver
2 2022-03-31 00:00:00+00:00         1582  silver
3 2022-04-01 00:00:00+00:00         1403  silver
4 2022-04-02 00:00:00+00:00         1503  silver

2022, 03, 29